*.pyc
*ifp.csv
*tc.csv
*simplified.csv
*.kate-swp
.vscode/
hippos.log
.directory
docs/build/
docs/source/_build/
docs/html/
config.txt
ref-results.txt
plants.conf
plants2.conf
vina.conf
ifp_processing2.py
ligands/
H1_retro/
H1_retro_multi/
neuraminidase
plants-vs
vina-vs
config-01.txt
hippos/config-na.txt
hippos/na-plants-vs
0
.bashrc.tmp
